{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>
            He he he.
        </h1>

    </div>

    <div class="col-4">
        <img src="assets/img/Troll-Face-Meme.png" class="img-thumbnail">
    </div>
</div>


{{> footer}}