{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
       <form class="webPoll">
            <h4>Tu que crees que Tidi va a chingar a su madre?</h4>
            <fieldset>
            <ul>
                <li>
                    <label class='poll_active'>
                    <input type='radio' name='AID' value='0'>
                    Sí
                    </label>
                </li>
                 <li>
                    <label class='poll_active'>
                    <input type='radio' name='AID' value='0'>
                    Sí
                    </label>
                </li>
            </ul>
            </fieldset>
            <a class="btn btn-primary btn-lg" href="/resultados" role="button">Ya we? Haz click aquí!</a>
        </form>
    <div class="col-4">
        <img src="assets/img/tidi.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}