{{> header}}
<header>
    {{> navbar}}
    <div class="jumbotron">
            <h1 class="display-4">Ayudame a contestar esta encuesta!</h1>
            <p class="lead">Esta es una simple encuesta para saber algo muy importante.</p>
            <hr class="my-4">
            <p>*Abelardo se la come.</p>
            <a class="btn btn-primary btn-lg" href="/encuesta" role="button">Ir a la encuesta</a>
    </div>


{{> footer }}