{{> header}}
<header>
    {{> navbar}}
   <h1>GRACIAS POR TU COLABORACIÓN!</h1>
   <p>
       Tidi ha ido a chingar a su madre {{count}} veces.
   </p>
    <a class="btn btn-primary btn-lg" href="https://www.google.com.mx" role="button">Mandarle dinero al famoso.</a>

{{> footer }}